#Contacto {
  background-color: #dac8c8;
  padding-left: 40px;
  text-align: center;
  height: fit-content;
  padding-bottom: 30px;
}

.contacto {
  margin: 0 20px 40px 20px;
}
/* Informacion Contacto */
.informacion-contacto {
  background-color: white;
  float: right;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  margin: 0 50px 30px 0;
  height: 500px;
}

.encabezado {
  color: #67330d;
  font-size: 20px;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 40px;
}

dl {
  text-align: center;
  /* width: fit-content; */
  margin-bottom: 40px;
}

dd {
  font-size: 18px;
  margin: 0;
}

dt {
  font-weight: bolder;
  color: #694830;
  font-size: 20px;
}

/* Solicitar Pastel (FORMULARIO) */

#solicita-tu-pastel {
  display: inline-block;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  /* padding-left: 20px; */
}
.encabezado-formulario {
  color: #67330d;
  font-size: 30px;
  text-transform: capitalize;
  width: 500px;
}
.texto-formulario {
  font-size: 18px;
  width: fit-content;
  font-weight: normal;
  text-align: right;
  margin: 5px;
  color: #a38a79;
  text-align: left;
}

/* FORMULARIO */
form {
  text-align: left;
  margin: 0 auto;
  margin-right: 28px;
  border-radius: 10px;
  padding: 10px;
}

label {
  color: #67330d;
}

input,
textarea {
  width: 160px;
  height: 25px;
  border-radius: 10px;
  text-align: left;
}
input:focus,
textarea:focus {
  border-color: #572610;
}

label {
  margin-left: 8px;
}

.textarea-label {
  display: block;
  margin: 15px;
}

.textarea-ancho,
textarea {
  width: 410px;
}
.form-buttom {
  background-color: #bb8763;
  cursor: pointer;
}

/* tag-de-despedida */
.tag-de-despedida {
  display: inline-block;
  background-color: #d8a7a7;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  margin-top: 30px;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
