/* Estilo general */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #21213f 50%, #a5a1a1);
  color: white;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
header {
  flex: 1;
  text-align: center;
  padding: 3rem 0 0 0;
  background: linear-gradient(135deg, #21213f 50%, #817f7f);
  color: #ffffff;
}

header img {
  width: 130px;
  border-radius: 40%;
  height: 160px;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}
header h2 {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
  padding-bottom: 5rem;
}
header p {
  font-size: 1rem;
  line-height: 1.6;
}
.hero {
  flex: 1;
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}

#about-me {
  background-color: transparent;
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border: black solid 4px;
  border-radius: 40px;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.397);
  transition: transform 0.3s, box-shadow 0.3s;
}

#about-me:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.397);
}

#about-me > h2 {
  text-align: center;
}
#about-me > h2 + p {
  text-align: center;
}

.verMas:hover {
  text-decoration: underline;
}
.verMas {
  background: transparent;
  text-align: center;
  border: none;
  color: #bb86fc;
  font-size: 1rem;
  cursor: pointer;
}

/* Navegación */
nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: #1e1e1e;
  padding: 0.5rem;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
nav ul li {
  margin: 5px 5px;
}
nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #bb86fc;
}

/* Sección de proyectos */
main {
  flex: 1;
  padding: 2rem;
}
main h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 2rem;
}
.proyectos article {
  flex: 1 1 320px; /* Mínimo 320px, crece hasta llenar el espacio */

  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.274);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0; /* Elimina márgenes extra */
}
.proyectos article:hover {
  box-shadow: -10px 5px 5px blue;
  transform: translateY(-5px) translateX(5px);
  transition: all 0.3s ease;
}
.proyectos h2 {
  margin-top: 0;
  color: #bb86fc;
}
.proyectos p {
  font-size: 0.9rem;
  line-height: 1.5;
}
.proyectos a {
  border: white 2px solid;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 1rem;
  color: #03dac6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.proyectos a:hover {
  color: #bb86fc;
}

/* Pie de página */
footer {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background: #1e1e1e;
  color: #e0e0e0;
}
footer h2 {
  margin-top: 0;
}
footer a img {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  transition: transform 0.3s;
}
footer a img:hover {
  transform: scale(1.1);
}

/* MEJORAS */

/* BOTON MODO NOCTURNO/DIURNO */
.modo-oscuro-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #bb86fc;
  color: #1e1e1e;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s;
}
.modo-oscuro-btn:hover {
  background-color: #514768;
}

/* Estilos para el modo claro */
.body-claro {
  background: #cacaca !important;
  color: #1e1e1e;
}
.nav-claro {
  background-color: #c4c4c4;
  color: #1a1a1a;
}

.header-claro {
  background: linear-gradient(135deg, #f5f5f5 50%, #261369);
  color: #1a1a1a;
}
.sobreMi-claro {
  border: #2c5fa8 solid 2px;
}
.cards-claro {
  background-color: #96a6b3 !important;
}
.footer-claro {
  background-color: #808080b7;
}
.parrafos-claro {
  color: #111111;
}

.encabezados-claro {
  color: #1a1a1a;
}

.encabezados-cards-claro {
  color: #255892 !important;
}
.enlaces-claro {
  color: #505050 !important;
  border: #2c5fa8 solid 2px !important;
}
/* ================================== */

/* modal para la section about-me */
.oculto {
  display: none;
  position: relative;
}

.salir {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  z-index: 9999; /* <--- Cambiado de 10 a 9999 */
}

.modal-contenido {
  background-color: #b0a8bb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: auto;
  z-index: 20;
  animation: fadeIn 0.8s;
  position: relative;
  width: 80vw;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    width: 100%;
  }
  to {
    width: 92vw;
  }
}

/* ================================== */
/* modal para cada proyecto */
.vistaDetallada {
  margin-left: 10px;
  padding: 5px;
  border: white 2px solid;
  border-radius: 4px;
  display: inline-block;
  margin-top: 1rem;
  color: #03dac6;
  background: transparent;
  text-decoration: none;

  transition: color 0.3s;
  cursor: pointer;
}

.tituloProyecto {
  font-size: 1.2rem;
  font-weight: bold;
}

.imagenProyecto {
  width: 100%;
  scale: 1;
  border-radius: 8px;
  height: auto;
}
.imagen-enfocada {
  animation: zoomIn 0.8s;
  animation-fill-mode: forwards;
  z-index: 99;
}

.salirProyecto {
  position: absolute;
  top: -3px;
  right: -2px;
  padding: 8px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.container-figure {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Estilos para pantallas grandes */
@media (min-width: 600px) {
  header img {
    width: 200px;
    height: 220px;
  }

  .imagen-enfocada {
    animation: none;
    animation-fill-mode: none;
    z-index: 9999;
    overflow-x: visible !important;
  }
}
/* ================================== */

/* Estilos para pantallas pequeñas */
@media (max-width: 599px) {
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 1.2rem;
  }

  .proyectos {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .proyectos article {
    flex: 1 1 50%;
    max-width: 300px;
    min-width: 140px;
    transition: none !important;
  }
  article:hover {
    transform: none !important;
    box-shadow: none !important;
    transition: none !important;
  }
}

