* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(1deg, #4ca1af, #2c3e50); */
  background-color: rgba(25, 180, 180, 0.833);
}

.dark {
  background-color: #002e41;
  color: #74ddebff;
}

body > button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}

body > h1 {
  margin: 3.5rem auto;
  font-size: 4rem;
  color: #ffffff;
}

.juego {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  margin: 0.5rem;
  font-weight: bolder;
}
input {
  padding: 0.2rem;
  border-radius: 10px;
  border: none;
}

label + button {
  padding: 0.3rem;
  border-radius: 10px;
  display: block;
  margin: 1rem auto;
}

.jugadores {
  text-align: center;
}

.jugadores > h2 {
  margin: 0 20px;
  display: inline-flex;
}

#tablero {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  width: 300px;
  height: 300px;
}

.celda {
  flex: calc(100% / 3);
  height: calc(100% / 3);
  border: 3px solid #fff;
  text-align: center;
  position: relative;
  cursor: pointer;
}

/* Centra el círculo posicionándolo absolutamente y moviéndolo a la mitad de la celda */
.circulo::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 10px solid white;
  animation: showCircle 0.3s;
}

.cruz::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  transform-origin: center;
  animation: ShowCross 0.3s forwards;
}

.cruz::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  transform-origin: center;
  animation: completeCross 0.3s forwards;
}

.endgame {
  display: none;
}

.mensaje-endgame {
  opacity: 0;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.3s;
}
/* Estilos para mostrar el mensaje cuando el juego termina */
/* Los cuales se agregan en el js */
.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 20;
  animation: fadeIn 0.8s;
}

.opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mensaje-endgame > h1 {
  font-size: 3rem;
  color: #ffffff;
  padding-bottom: 1rem;
}

.mensaje-endgame > h1 + p {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.mensaje-endgame > button {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  background-color: #47d4b1c0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  animation: pulse 1.1s infinite;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes showCircle {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes ShowCross {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

@keyframes completeCross {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

@media (max-width: 600px) {
  body > h1 {
    font-size: 2.6rem;
  }

  .juego {
    height: 80vh;
    width: 100%;
    gap: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  label {
    margin: 0;
  }
  #tablero {
    margin-bottom: 20px;
  }
}
