#Inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  height: fit-content;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#Inicio > h1 {
  margin: 0 0 10px 0;
  font-size: 45px;
  color: #686565;
  text-align: center;
  flex: 1 2 100%;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 23px;
  margin: 60px;
}
a:active {
  color: rgb(194, 7, 7);
}
a:hover {
  color: rgb(7, 92, 88);
}

/* ================================ */
#Productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

#Productos figure:nth-child(1) {
  border: #518b89 thick solid;
}
#Productos figure:nth-child(4) {
  border: #518b89 thick solid;
}
#Productos figure:nth-child(2) {
  border: #2e263a thick solid;
}
#Productos figure:nth-child(3) {
  border: #2e263a thick solid;
}

figure {
  background-color: white;
  height: 350px;
  width: 400px;
  border-radius: 20px;
}
figure > img {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0 0;
}

figure div + figcaption {
  text-align: center;
  font-size: 25px;
  margin-top: 8%;
  font-weight: bolder;
}

/* ======================= */
#derechos {
  background-color: white;
  height: 10vh;
}

#derechos > p {
  text-align: center;
  color: #686565;
  font-size: 20px;
}
