a{color: black; text-decoration: none; cursor: pointer;}

.icons {width:40px ; height: 40px;}
h2 {font-family: "Edu NSW ACT Cursive"; font-size: 50px; text-align: center; margin-top: 20px;}
button {background-color: #104c9b; color: white; padding: 10px 10px; cursor: pointer; }
div{margin-bottom: 20px;}